@import url('../dist/css/style.css'); /* آیکون ها */
@import url(fontiran.css); /* فونت ایران سنس */

:root {
  --primary: #06555A;
  --primary-light: #418287;
  --primary-dark: #002C31;
  --secondary: #F29796;
  --secondary-light: #FADAD9;
  --secondary-dark: #DB4D4C;
  --background: #F5F8FD;
  --error: #FF4949;
  --accept: #31F072;
  --black: #000000;
  --dark-gray: #4D4D4D;
  --gray: #808080;
  --light-gray: #B2B2B2;
  --white: #FFFFFF;
  --box: #F2F2F2;
  --banner: #F2F2F2;
  --primary-light-2: #EBF1F1;
  --secondary-light-2: #FDEEEE;
}
body {
	font-family: IRANSans !important;
	font-weight: 400;
	direction: rtl;
	font-size: 12px !important;
	font-style: normal;
	margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: 500;
	font-size: 32px;	
  line-height: 1.5;
}
h2 {
	font-size: 24px;
  font-weight: 500;	
  line-height: 1.45;
}
h3 {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
}
h4 {
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
}
h4.subtitle{
  color: var(--gray);
  font-weight: 400;
}
h5 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}
h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
}
p {
  font-size: 10px;
  line-height: 1.6;
  font-weight: 400;
}

.container{
    max-width: 1040px;
}

.Logo {
    width: 135.6px;
    height: 41px;
    
  }
.Search {
    width: 512px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    
    padding: 12px;
    border-radius: 8px;
    background-color: #f2f2f2;
}
img.IconlyTwo-toneSearch {
    width: 24px;
    height: 24px;
    
    flex-grow: 0;
    object-fit: contain;
  }
  .mdc-text-field--with-trailing-icon{
      padding-left: 12px !important;
  }
  .Acount---Basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
    
    padding: 0;
  }
.welcome-name {
    width: 98px;
    
    flex-grow: 0;
    
    letter-spacing: normal;
    text-align: right;
    color: #000;
  }
  .mdc-floating-label{
	  font-family: IRANSans;
  }
  .Vector-1 {
	width: 1px;
	height: 32px;
	flex-grow: 0;
	background-color: #002c31;
  }
  .mt-65{
	  margin-top: 65px !important;
  }
  .mb-43{
	margin-bottom: 43px;
}
.categories_button {
	width: 160px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	border-radius: 8px 8px 0px 0px;
	font-weight: 500;
	line-height: 170%;
	padding: 8px 8px 8px 0px;
	background-color: var(--secondary-light-2);
  border: none;
  }
  .dropdown-menu{
    width: 1040px;
    height: 393px;
    font-size: 1rem;
    background: var(--background);
    box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 8px 8px;
    color: #212529;
    text-align: right;
    list-style: none;
    transform: translate(-866px, 40px) !important;
    background-clip: padding-box;
    border: none;
  }
  .container{
	  padding-right: 0px;
	  padding-left: 0px;
  }

  .nav-link{
	color: #808080 !important;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
  }
  .custom-nav-1{
	  color: #418287 !important;
    font-weight: 500;
  }
  .banner{
	background: var(--secondary-light-2);
	border-radius: 8px 0px 8px 8px;
	height: 512px;
  }
  .banner-first-row{
	  height: 392.5px;
  }
  .custom-button-1{
    border-radius: 8px;
    border: solid 1px #418287;
    font-size: 14px;
    font-weight: 500;
    color: #002c31;
    width: 132px;
    height: 40px;
    align-items: center;
    background: none;
  }
  .custom-button-2{
    border-radius: 8px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: #002c31;
    width: 64px;
    height: 28px;
    align-items: center;
    background-color: #EBF1F1;
  }
  .custom-button-3{
    border-radius: 8px;
    border: solid 1px #F5F8FD;
    font-size: 12px;
    font-weight: 400;
    width: 64px;
    height: 28px;
    align-items: center;
    background: none;
    color: #F5F8FD;
  }

  .custom-line-1 {
    
    height: 0.5px;
    background-color: #000;
  }
  .custom-line-2 {
    border-radius: 8px;
    height: 2.5px;
    background-color: #418287;
  }
  .custom-line-3 {
    border-radius: 8px;
    width: 147.5px;
    height: 0.5px;
    background-color: var(--gray);
    position: absolute;
    
  }
  .mdc-floating-label{
    font-size: 12px;
  }
  .mdc-line-ripple::before{
    border-bottom: none;
  }

  .custom-box-1{
    width: 23.3%;
    height: 138px;
    border-radius: 8px;
    
  }
  .custom-box-2{
    width: 23.3%;
    height: 138px;
    border-radius: 8px;
    color: #FADAD9;
  }
  .custom-box-3{
    width: 48.8%;
    height: 138px;
    border-radius: 8px;
  }
  .custom-box-4{
    width: 48.46%;
    height: 128px;
    border-radius: 8px;
    color: var(--white);
    padding: 25px 40px 0px 40px;
  }
  .slick-slide img {
    display: unset !important;
  }
  .custom-carousel{
    border: none;
    background: none;
  }

  .pre-footer{
    margin-bottom: 60px;
  }
  .footer{
    background-color: var(--background);
    border-radius: 8px;
    padding: 49px 40px 41px 39px;
    margin-bottom: 62px;
  }
  .footer-one{
    margin: 40px !important;
    margin-bottom: 77px !important;
  }
  .footer-tow{
    margin: 40px !important;

  }
  .footer-links {
    font-size: 12px;
    font-weight: 300;
    color: var(--gray);
  }
  .footer-about {
    color: var(--gray);
    line-height: 2;
  }
  .footer-share {
    color: var(--primary-dark);
  }
  #myBtn {
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: none;
    padding: 15px; /* Some padding */
    font-size: 12px; /* Increase font size */
  }
  .blog{
    margin-bottom: 40px;
  }
  .product-card {
    width: 192px;
    height: 264px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    transition-duration: 0.15s;
  }
  .product-card-2 {
    height: 280px;
  }
  .product-card:hover{
    transform: scale(1.05);
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }
  .product-card-img {
    width: 120px !important;
    height: 120px !important;
  }
  .product-card-detail{
    width: 123px;
    height: 108px;
  }
  .product-card-button{
    width: 36.27px;
    height: 24px;
    background: var(--primary-light);
    border-radius: 8px;
    border: none;
    color: var(--white);
    padding: 6px 12px;
  }
  .product-card-takhfif {
    width: 22px;
    height: 15px;
    background: rgba(255, 73, 73, 0.15);
    /* Error */
    display: inline;
    border: 0.5px solid var(--error);
    color: var(--error);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
    font-size: 10px;
  }
  .product-card-takhfif-row {
    height: 19px;
  }
  .takhfif-price {
    font-size: 12px;
    font-weight: normal;
    text-decoration-line: line-through;
    color: var(--gray);
  }
  
  .card-sharing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 24px;
    height: 64px;
    left: 16px;
    top: 16px;
    font-size: 25px;
    color: var(--primary-light);
  }
  .blog-sharing {
    font-size: 25px;
    color: var(--primary-light);
  }

  .offer-box {
    height: 370px;
    background: url(../img/488788f3fd277f96f22f27ba5d11d75b.jfif);
    border-radius: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .slick-slide {
    margin: 0 8px;
  }
  /* the parent */
  .offer-timer {
    color: var(--gray);
    display: flex;
    vertical-align: middle;
  }

  .brands img{
    object-fit: contain;
    max-width: 180px;
    max-height: 40px;
  }

  .bala{
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: none;
    margin-top: 6px;
  }
  .blog-card{
    background-color: var(--background);
    border-radius: 8px;
    width: 331px;
    flex: unset;
  }
  .blog-title {
    font-weight: bold;
    margin-bottom: 8px;
  }
  .blog-text{
    font-size: 10px;
    font-weight: 400;
    color: var(--gray);
    display: inline;
    line-height: 1.6;
  }

  .pre-footer-address{
    color: var(--gray);
  }