{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load humanize %}


{% block header_ref %}
    
{% endblock %}

{% block title %}
    اطلاعات ارسال
{% endblock %}

{% block description %}
    آدرس های شما
{% endblock %}

{% block keyword %}
    اطلاعات ارسال مشتری
{% endblock %}

{% block content %}
<div class="container">

    <div class="row justify-content-around align-items-center">
        <div class="col custom-line-1 mt-4"></div>
    </div>

    <!-- sabad header -->
    <div class="row">
      <div class=" shipping-details align-items-center d-flex justify-content-center">

        <a href="/cart" class="col text-left d-flex align-items-center justify-content-end">
            <img src="{% static 'img/cart-page-icon.svg' %}" width="40px" height="40px">
            <h5 class="primary-dark ms-3">سبد خرید</h5>
        </a>

        <span class="linear-gradient activated"></span>

        <a href="/shipping" class="text-left d-flex align-items-center justify-content-center">
            <img src="{% static 'img/address-page-active.svg' %}" width="40px" height="40px">
            <h5 class="primary-dark ms-3">اطلاعات ارسال</h5>
        </a>

        <span class="linear-gradient active"></span>

        <div class="col text-left d-flex align-items-center justify-content-start">
            <img src="{% static 'img/payment-page-deactive.svg' %}" width="40px" height="40px">
            <h5 class="light-gray ms-3">اطلاعات پرداخت</h5>
        </div>

      </div>
    </div>


    <div class="row sabad-title">
      <h6 class="col text-left d-flex align-items-center justify-content-start ps-5">نشانی تحویل سفارش</h6>
      <div class="col text-left d-flex align-items-center justify-content-end pe-5">
        <a class="d-flex align-items-center primary-light" href="">
          <i class="iconly-Location icli fs-4 me-1"></i>
          <h6>افزودن آدرس جدید</h6>
        </a>
      </div>
    </div>
    {% if addresses %}
      {% for address in addresses %}
        <!-- Address box -->
        <div class="ship-adrs-box my-4 {% if address.selected is True %}active{% endif %}" onclick="location.href='{% url 'selected_address' address.id %}'">
          <div class="row mb-4">
              <div class="col d-flex align-items-center justify-content-start">
                  <i class="iconly-Location icli primary-dark fs-4 me-2"></i>
                  <h5>آدرس {{ address.title }}</h5>
              </div>
              <div class="col d-flex align-items-center justify-content-end">
                <button class="checkout-address-btn-edit" data-toggle="modal" data-target="#modal-location-edit{{ address.id }}">
                  <i class="iconly-Edit icli primary-dark fs-4 me-2"></i>
                </button>
                <a href="{% url 'remove_address' address.id %}">
                  <i class="iconly-Delete icli primary-dark fs-4 ms-1"></i>
                </a>
              </div>
          </div>
          <div class="row mb-2">
            <div class="col d-flex align-items-center justify-content-start">
              <i class="iconly-Profile icli primary-light fs-5 me-2 icon-box text-center"></i>
              <h6>{{ address.full_name }}</h6>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col d-flex align-items-center justify-content-start">
              <i class="iconly-Location icli primary-light fs-5 me-2 icon-box text-center"></i>
              <h6>{{ address.address }}</h6>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col d-flex align-items-center justify-content-start">
              <div class="me-2 icon-box text-center"></div>
              <h6>کدپستی:‌ {{ address.post_code }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex align-items-center justify-content-start">
              <i class="iconly-Calling icli primary-light fs-5 me-2 icon-box text-center"></i>
              <h6>{{ address.phone }}</h6>
            </div>
          </div>
        </div>
        
        <!-- Start Modal location edit -->
        <div class="modal fade" id="modal-location-edit{{ address.id }}"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        data-backdrop="false"
        aria-hidden="true">
       <div class="modal-dialog modal-lg send-info modal-dialog-centered"
            role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title"
                       id="exampleModalCenterTitle">
                       <i class="now-ui-icons location_pin"></i>
                       ویرایش آدرس
                   </h5>
                   <button type="button" class="close"
                           data-dismiss="modal"
                           aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <div class="row">
                       <div class="col-lg-12 col-md-12">
                           <div class="form-ui dt-sl">
                               <form class="form-account"
                                     action="{% url 'edit_address' address.id %}"
                                     method="post">
                                   {% csrf_token %}
                                   <div class="row">
                                       <div class="col-md-6 col-sm-12 mb-2">
                                           <div class="form-row-title">
                                               <h4>
                                                   نام و نام خانوادگی
                                               </h4>
                                           </div>
                                           <div class="form-row">
                                               <input class="input-ui pr-2 text-right"
                                                      type="text"
                                                      name="full_name"
                                                      value="{{ address.full_name }}"
                                                      placeholder="">
                                           </div>
                                       </div>
                                       <div class="col-md-6 col-sm-12 mb-2">
                                           <div class="form-row-title">
                                               <h4>
                                                   شماره موبایل
                                               </h4>
                                           </div>
                                           <div class="form-row">
                                               <input class="input-ui pl-2 dir-ltr text-left"
                                                      type="text"
                                                      name="phone"
                                                      value="{{ address.phone }}"
                                                      placeholder="">
                                           </div>
                                       </div>
                                       <div class="col-md-6 col-sm-12 mb-2">
                                           <div class="form-row-title">
                                               <h4>
                                                   استان
                                               </h4>
                                           </div>
                                           <div class="form-row">
                                               <input class="input-ui pl-2 dir-ltr text-left"
                                                      type="text"
                                                      name="ostan"
                                                      value="{{ address.ostan }}"
                                                      placeholder="">
                                           </div>
                                       </div>
                                       <div class="col-md-6 col-sm-12 mb-2">
                                           <div class="form-row-title">
                                               <h4>
                                                   شهر
                                               </h4>
                                           </div>
                                           <div class="form-row">
                                               <input class="input-ui pl-2 dir-ltr text-left"
                                                      type="text"
                                                      name="city"
                                                      value="{{ address.city }}"
                                                      placeholder="">
                                           </div>
                                       </div>
                                       <div class="col-12 mb-2">
                                           <div class="form-row-title">
                                               <h4>
                                                   آدرس پستی
                                               </h4>
                                           </div>
                                           <div class="form-row">
                                            <textarea class="input-ui pr-2 text-right" name="address"
                                                      placeholder="">{{ address.address }}</textarea>
                                           </div>
                                       </div>
                                       <div class="col-12 mb-2">
                                           <div class="form-row-title">
                                               <h4>
                                                   کد پستی
                                               </h4>
                                           </div>
                                           <div class="form-row">
                                               <input class="input-ui pl-2 dir-ltr text-left placeholder-right"
                                                      name="post_code"
                                                      value="{{ address.post_code }}"
                                                      type="text"
                                                      placeholder=" ">
                                           </div>
                                       </div>
                                       <div class="col-12 pr-4 pl-4">
                                           <button type="submit"
                                                   class="btn btn-sm btn-primary btn-submit-form">
                                               ثبت
                                               و
                                               ارسال به این آدرس
                                           </button>
                                       </div>
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        </div>
        <!-- End Modal location edit -->
      {% endfor %}
    {% else %}
      <div class="ship-adrs-box my-4">
        <button data-toggle="modal" data-target="#modal-location">+ افزودن آدرس</button>
      </div>
    {% endif %}
    
    <div class="row cart-bottom-box">

      <div class="col-8 mt-3 ps-3">
        <div class="row mb-4">
          <div class="col d-flex align-items-center justify-content-start">
            <img class="me-2" src="{% static 'img/Group 11.svg' %}" alt="شیوه_ارسال">
            <h5>شیوه ارسال</h5>
          </div>
        </div>
        <!-- shive haye ersal - radio input -->
        <form method="POST" id="shipping-data-form" class="cc" enctype='multipart/form-data'>
          {% csrf_token %}
            {% for ways in all_ways %}
              <div class="row mb-2">
                <div class="col-8 d-flex align-items-center">
                  <input class="shipping-radio me-2" type="radio" name="way" id="{{ ways.id }}" value="{{ ways.way }}" onclick="wayss()" {% if ways.selected is True %}checked{% endif %}>
                  <img class="me-2" src="{{ ways.image.url }}" height="16">
                  <h6>{{ ways.way }}</h6>
                  <h6 class="gray fw-light ms-2">{{ ways.duration | default:"" }}</h6>
                </div>
                <div class="col-4 d-flex align-items-center">
                  <h6 class="gray fw-light me-1">هزینه ارسال:</h6>
                  <h6 class="primary-dark fw-light ms-2">{{ ways.price | default:"پس کرایه" }}</h6>
                  {% if ways.price %}
                    <span class="cart-tooman primary-dark ms-1">تومان</span>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
        </form>
      </div>
      <!-- divider  -->
      <span class="cart-h-divider"></span>

      <div class="col mt-4 mb-4 ms-5 me-3 pe-3">
        
        <div class="row d-flex justify-content-around align-items-center">
          <h6 class="col-7 fw-light">مجموع قیمت:</h6>
          <h6 class="col text-end primary-dark">{{ totalPrice|intcomma:False }}<span class="cart-tooman ms-2">تومان</span></h6>
        </div>

        <div class="row d-flex justify-content-around align-items-center mt-2">
          <h6 class="col-7 fw-light">مجموع سود از این خرید:</h6>
          <h6 class="col text-end primary-light">{{ totalTakhfif|intcomma:False }}<span class="cart-tooman ms-2">تومان</span></h6>
        </div>

        <div class="row d-flex justify-content-around align-items-center mt-2">
          <h6 class="col-7 fw-light">هزینه ارسال، بیمه و بسته‌بندی:</h6>
          <h6 class="col text-end">
            {% if selected_way.price == 0 %}
              رایگان
            {% elif selected_way.price > 0 %}
              {{ selected_way.price|intcomma:False }}<span class="cart-tooman ms-2">تومان</span>
            {% else %}
              پس کرایه
            {% endif %}
          </h6>
        </div>

        <div class="row d-flex justify-content-around align-items-center mt-3">
          <h6 class="col-7">مبلغ قابل پرداخت:</h6>
          <h4 class="col text-end">{{ totalPrice_takhfifWithPost|intcomma:False }}<span class="cart-tooman ms-2">تومان</span></h4>

        </div>


      </div>
    </div>


    <div class="row mt-4" style="margin-bottom: 340px;">

      <div class="d-flex me-4 pre-footer-cart">
        <p>این داروخانه آنلاین زیر مجموعه‌ی داروخانه‌ی دکتر ارجمند می باشد و کلیه‌ی محصولات عرضه شده در سایت ، دارای مجوز رسمی از سازمان غذا و دارو می باشد. </p>
      </div>
      <a class="width-fit" href="/payment">
        <button class="cart-button">
            <h5>ثبت و مرحله بعد</h5>
        </button>
      </a>


    </div>

</div>
{% endblock %}

{% block footer_ref %}
{% endblock %}
