{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">

    <title>{% block title %}
        ثبت نام
    {% endblock %}
    </title>

    {% include 'shared/_HeaderReferences.html' %}

</head>
<body>
<div class="container vh-100 d-flex align-items-center justify-content-center">

    {% block content %}
        <div class="login-box col-6">
            <div class="row text-center mb-5">
                <a href="/"><img src="{% static 'img/Group 7.png' %}"></a>
            </div>
            <div class="row">
                <h4 class="fw-bold primary-dark mb-4 ps-2">اطلاعات ثبت نام</h4>
            </div>
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    <div for="{{ register_form.username.id_for_label }}">
                        {{ register_form.first_name }}
                        {% for error in register_form.first_name.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div for="{{ register_form.username.id_for_label }}">
                        {{ register_form.last_name }}
                        {% for error in register_form.last_name.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div for="{{ register_form.email.id_for_label }}">
                        {{ register_form.email }}
                        {% for error in register_form.email.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div for="{{ register_form.password.id_for_label }}">
                        {{ register_form.password }}
                        {% for error in register_form.password.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <!--
                    <div class="form-row-title">
                        <h3>{{ register_form.re_password.label }}</h3>
                    </div>
                    <div class="form-row with-icon" for="{{ register_form.re_password.id_for_label }}">
                        {{ register_form.re_password }}
                        {% for error in register_form.re_password.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    -->

{#                                <div class="form-row with-icon mt-4 " for="{{ form.captcha.id_for_label }}">#}
{#                                    {{ form.captcha }}#}
{#                                    {% for error in form.captcha.errors %}#}
{#                                        <p style="color: red;">{{ error }}</p>#}
{#                                    {% endfor %}#}
{#                                </div>#}
                    <div class="form-row mt-4">
                        <button class="custom-button-9 w-100">
                            ثبت نام
                        </button>
                    </div>
                    <div class="mt-2">
                        <div class="row px-2">
                            <div class="col text-start text-decoration-underline primary-dark"></div>
                            <a href="/" class="col text-end text-decoration-underline primary-light">انصراف</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
    {% endblock %}


    {% include 'shared/_FooterReferences.html' %}

    {% block footer_ref %}
        <!--if we have another references for any pages we can add here-->
    {% endblock %}
</div>
</body>
</html>