{% extends 'base.html' %}
{% load static %}

{% block headstylescript %}

<script>

function star_fun(url, star, id){
  $.ajax({
    url: url,
    success: function (s) {
      if (s.status == true) {
        $('#star_rating').attr('style', 'width:'+s.avg+'%;')

        var starInfo = $('#star_info');
        starInfo.empty();
        starInfo.text('امتیاز کل: '+ s.avg + ' درصد')
        $('<br />')
          .appendTo(starInfo);
        $('<small />')
          .text('نظر شما: ' + s.user_score)
          .appendTo(starInfo);
      }
      else if (s.status == 'not_login') {
        show_alert_message("شما ابتدا باید وارد سایت شوید.", 'danger');
        console.log('nl');
      }
      else if(s.status == 'bad_content'){
        show_alert_message('ورودی نامعتبر.', 'danger');
      }
      else {
        console.log('e2')
      }
    },
    error: function (error) {
      console.log('e1');
    }
  });
}


function like_dislike_btn(url, id){
  console.log(url, id);
  //var id = $(this).attr("data-pk");
  $('#like-icon-' + id).attr("class", "fa fa-spinner fa-spin");

  //var url = $(this).attr("href");
  $.ajax({
    url: url,
    success: function (s) {
      if (s.status == true) {
        //
        $('#like-count-' + id).html(s.likes);
        if (s.user_in_likes) {
          $('#like-icon-' + id).attr("class", "fa fa-thumbs-o-down");
          $('#like-icon-' + id).css('color', 'red');
          $('#like-icon-' + id).text('DisLike');
        } else {
          $('#like-icon-' + id).attr("class", "fa fa-thumbs-o-up");
          $('#like-icon-' + id).css('color', 'blue');
          $('#like-icon-' + id).text('Like');
        }
      } else if (s.status == 'not_login') {
        $('#like-icon-' + id).attr("class", "");
        show_alert_message("شما ابتدا باید وارد سایت شوید.", 'danger');
      } else {
        console.log('e2')
      }
    },
    error: function (error) {
      console.log('e1');
      //$('#like-icon-' + id).attr("class", "fa fa-thumbs-o-up");
    }
  });
}


</script>
<style>
  .pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
  }

  .pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
  }
</style>
{% endblock %}

{% block title %}نمایش سریع{% endblock %}

{% block main %}
<section class="mainbody">


<div id="ele" data-alerts="alerts" data-titles='{"error": "<em>Danger Title!</em>"}' data-fade="5000" ></div>


  <!--***********************************************************mahsoolat***********************************************************-->

  <div class="container" style=" width: 80%;
margin: 0 auto;
padding: 20px;
background:rgb(255, 250, 250);text-align:right;">
    <th>
      <div class="row p-5">
        <div class="col-md-6">
          <img src="{{book.image.url}}" style="width: 100%;height: 100%;" width=20% height=20%>
        </div>
        <div class="col-md-6">
          <div class="text">

            <h4>کتاب {{book.name}}</h4>
            <p>نویسنده:{{book.author}}</p>
            <P>تعداد صفحات:{{book.number_of_pages}}</P>
            <P>قیمت: {{book.price}} تومان</P>
            {% if not book.percent == 0 %}
            <p style="color:red;">پیشنهاد ویژه: {{ book.get_book_offer_price }} تومان</p>
            {% endif %}
            <div>
            توضیحات:
              <small>{{book.description}}</small>
            </div>
            <br>
            
          </div>

          <div style="text-align:right;">
            <button type="button" class="btn btn-outline-danger" onClick="javascript:history.go(-1);">قبل</button>
            <a href="{% url 'gallery:cart_add' book.id %}"><button type="button" class="btn btn-outline-danger">افزودن به سبد خرید</button></a>
          </div>
        </div>

      </div>
      تاریخ انتشار در سایت:
            <small><data>{{book.created}}</data></small>
      <br>
      <br>

      <div class="text-center">

        <h4>به این کتاب امتیاز دهید:)</h4>
        <span class="score">
          <div class="score-wrap">
            <span class="rating stars-active" id="star_rating" style="width:{{ book.get_avg_stars_percent }}%;">
              <i class="fa fa-star" id="star1" onclick="star_fun('{% url 'gallery:star' book.pk 1 %}', 1, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 2 %}', 2, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 3 %}', 3, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 4 %}', 4, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 5 %}', 5, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
            </span>
            <span class="stars-inactive">
              <i class="fa fa-star-o" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 1 %}', 1, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star-o" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 2 %}', 2, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star-o" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 3 %}', 3, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star-o" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 4 %}', 4, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
              <i class="fa fa-star-o" id="star" onclick="star_fun('{% url 'gallery:star' book.pk 5 %}', 5, {{book.pk}})" style="cursor: pointer;" aria-hidden="true"></i>
            </span>   
          </div>
        </span>
        <small id="star_info"> امتیاز کل: {{ book.get_avg_stars_percent }} درصد</small>


    </th>



  </div>
  </div>

  <hr>

  <br>
  <br>




  <!--***********************************************************mahsoolat*********************************************************-->

  <!--comment-->

  <div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="d-flex flex-column comment-section">
          <div id="comment-section-table">
          <small style="color: black;">{{book.comments.all.count}} Comment :</small>
          {% for comment in book.comments.all %}

            <div dir="rtl" class="bg-white p-2">
              <div class="d-flex flex-row user-info">
                <img class="rounded-circle" src="{% static 'img/آواتارکامنت.jpg' %}" width="40">
                <div class="d-flex flex-column justify-content-start ml-2">
                  <p class="d-block font-weight-bold name">{{comment.user.username}}</p>
                  <span class="date text-black-50">{{comment.created_date}}</span>
                </div>
              </div>
              <div class="mt-2">
                <p class="comment-text" style="text-align:right;">{{comment.content}}</p>
              </div>
            </div>
            <div class="bg-white">
              <div class="d-flex flex-row fs-12">
                <span id="like-count-{{comment.pk}}">{{comment.likes.count}}</span>
                
                <a class="like-dislike-btn" href="javascript:like_dislike_btn('{% url 'gallery:like_or_dislike' comment.pk %}', '{{ comment.pk }}');">
                
                  {% if request.user in comment.likes.all %}
                  <div class="like p-2 cursor">
                    <i id="like-icon-{{comment.pk}}" class="fa fa-thumbs-o-down" style="color: red;">
                      <span class="ml-1">DisLike</span>
                    </i>
                  </div>
                  {% else %}
                  <div class="like p-2 cursor">
                    <i id="like-icon-{{comment.pk}}" class="fa fa-thumbs-o-up" style="color: blue;">
                      <span class="ml-1">Like</span>
                    </i>
                  </div>
                  {% endif %}
                </a>

              </div>
            </div>
          
          {% endfor %}
          </div>





          <form method="POST" id="book-form"> {% csrf_token %}
            <div dir="rtl" class="bg-light p-2">
              <div class="d-flex flex-row align-items-start">
                <img class="rounded-circle" src="{% static 'img/آواتارکامنت.jpg' %}" width="40">
                <textarea id="comment" class="form-control ml-1 shadow-none textarea" style="text-align:right;" placeholder="نظر خودرا تایپ کنید"></textarea>
              </div>
              
              <div class="mt-2 text-right"><button class="btn btn-warning" type="submit">ثبت</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--comment-->

  <br>
  <br>

  <hr>

  {% endblock %}


  {% block script %}





$(document).on('submit', '#book-form',function(e){
  e.preventDefault()
  var id = $(this).attr("data-pk")
  var url = '{% url "gallery:comment" book.pk %}'
  $.ajax({
    type:'POST',
    url:url,
    data:{
      content:$('#comment').val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      action: 'post'
    },

    success:function(s){
      console.log('salam log');
      if(s.status==true){
        console.log('ok');
        $('#comment').val('');

        all_comments = s.book_comments;
        var cList = $('#comment-section-table');
        cList.empty();
        $('<small />')
          .attr('style', 'color: black;')
          .text(s.count + ' Comment :')
          .appendTo(cList);


        $.each(all_comments, function(i, c) {
          //console.log(c.username + ' ' + c.created + ' ' + c.content);
          var div1 = $('<div />')
            .addClass('bg-white p-2')
            .attr('dir', 'rtl')
            .appendTo(cList);

          var div2 = $('<div />')
            .addClass('bg-white')
            .appendTo(cList);

          var div1div1 = $('<div />')
            .addClass('d-flex flex-row user-info')
            .appendTo(div1);
          var div1div1img = $('<img />')
            .addClass('rounded-circle')
            .attr('src', "{% static 'img/آواتارکامنت.jpg' %}")
            .attr('width', "40")
            .appendTo(div1div1);
          var div1div1div = $('<div />')
            .addClass('d-flex flex-column justify-content-start ml-2')
            .appendTo(div1div1);
          var div1div1divp = $('<p />')
            .addClass('d-block font-weight-bold name ')
            .text(c.username)
            .appendTo(div1div1div);
          var div1div1divspan = $('<span />')
            .addClass('date text-black-50')
            .text(c.created)
            .appendTo(div1div1div);

          var div1div2 = $('<div />')
            .addClass('mt-2')
            .appendTo(div1);
          var div1div2p = $('<p />')
            .addClass('comment-text')
            .attr('style', 'text-align:right;')
            .text(c.content)
            .appendTo(div1div2);

          var div2div = $('<div />')
            .addClass('d-flex flex-row fs-12')
            .appendTo(div2);
          var div2divspan = $('<span />')
            .attr('id', 'like-count-'+c.pk)
            .text(c.like_count)
            .appendTo(div2div);
          var iclass = "fa fa-thumbs-o-up";
          var spantext = "Like";
          var istyle = "color: blue;"
          if (c.user_in_likes){
            iclass = "fa fa-thumbs-o-down";
            istyle = "color: red;"
            spantext = "DisLike";
          }

          var like_url = '/api/'+ c.pk +'/like_or_dislike';
          var div2diva = $('<a />')
            .addClass('like-dislike-btn')
            //.attr('data-pk', c.pk)
            .attr('href', 'javascript:like_dislike_btn(\''+ like_url + '\'\,\''+ c.pk + '\')')
            .appendTo(div2div);
           
          
          var div2divadiv = $('<div />')
            .addClass('like p-2 cursor')
            .appendTo(div2diva);
          
          var div2divadivi = $('<i />')
            .addClass(iclass)
            .attr('style', istyle)
            .attr('id', 'like-icon-'+ c.pk)
            .appendTo(div2divadiv);

          var div2divadivispan = $('<span />')
            .addClass('ml-1')
            .text(spantext)
            .appendTo(div2divadivi);

        });
        //$('#like-icon-' + id).attr("class", "fas fa-heart");
        //$('#like-count-' + id).html(s.likes);

      }
      else if(s.status == 'not_login'){
        //$('#like-icon-' + id).attr("class", "fas fa-heart");
        show_alert_message("شما ابتدا باید وارد سایت شوید.", 'danger');
      }
      else if(s.status == 'bad_content'){
        show_alert_message('ورودی نامعتبر.', 'danger');
      }
      else{
        console.log('e2')
      }


    },
    error : function(xhr,errmsg,err) {
      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
  });
});


  {% endblock %}
