{% extends 'base.html' %}
{% load static %}
{% block main %}
        <section class="mainbody">
              
       <!--Section: Block Content-->

        <br>
        <br>

	   <div class="container" style=" width: 80%;
	   margin: 0 auto;
	   padding: 20px;
	   background:rgb(255, 250, 250);text-align:right;">
        <h3 style="color:rgb(204, 106, 57);">راهنمای خرید  از سایت</h3>
        <p>لطفا برای خرید از سایت ابتدا ثبت نام کنید یا اگر قبلا ثبت نام کرده اید ورود کنید و سپس خرید خودرا انجام دهید.</p>
    </div>

	  <br>
	  <br>
	  <br>

</section>

 <br>
 <br>
 <br>
{% endblock %}