{% extends 'base.html' %}
{% load static %}
{% block main %}
        <section class="mainbody">
              


<!--***********************************************************mahsoolat***********************************************************-->


<section class="mahsoolat">
  <h3 style="color:rgb(175, 12, 12);text-align: center;text-decoration:underline;">نتایج جستجو: {{search}}</h3>
  

<br>



<div class="container">
    <div class="row">
    {% for book in products %}

        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="{% url 'gallery:detail' book.slug %}">
                        <img class="pic-1" src="{{book.image.url}}">
                        <img class="pic-2" src="{{book.image.url}}">
                    </a>
                    <ul class="social">
                        <li><a href="{% url 'gallery:detail' book.slug %}" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>

                        <li><a href="{% url 'gallery:cart_add' book.id %}" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>

                    {% if not book.percent == 0 %}
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-{{book.percent}}%</span>
                    {% endif %}
                    
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="{% url 'gallery:detail' book.slug %}">کتاب {{book.name}}</a></h3>
                  <div class="price">
                      {% if not book.percent == 0 %}
                        {{ book.get_book_offer_price }}
                        <span>{{book.price}}</span>
                      {% else %}
                      <h4 class="title">قیمت:{{book.price}}</h4>
                      {% endif %}
                    </div>
                  <a class="add-to-cart" href="{% url 'gallery:cart_add' book.id %}">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
  </div>
</div>
<br>
<div class="container">
  <div class="row">
        {% endif %}
    {% endfor %}
    </div>
  </div>


   </section>  
  



    
<br>
<br>
<br>


<!--***********************************************************mahsoolat*********************************************************-->




<!--pagenation-->

<nav aria-label="Page navigation example bg-light">
    <ul class="pagination justify-content-center">
       {% if page_obj.has_previous %}
        <li class="page-item">
         
            <a class="page-link" href="{% url 'gallery:search_results' %}?page={{page_obj.previous_page_number}}&search={{search}}" aria-label="Previous"   style="color:rgb(175, 12, 12);">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>

          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          <li class="page-item"><a class="page-link" style="color:rgb(175, 12, 12);"   href="{% url 'gallery:search_results' %}?page={{i}}&search={{search}}">{{i}}</a></li>
        {% endfor %}
          
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'gallery:search_results' %}?page={{page_obj.next_page_number}}&search={{search}}" aria-label="Next"    style="color:rgb(175, 12, 12);" >
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}
    </ul>
  </nav>


<!--pagenation-->


{% endblock %}