{% load static %}
    <!-- ارسال-مشاوره  -->
    <div class="container pt-5" style="margin-bottom: 77.8px;">
        <div class="row mb-3">
          <div class="col text-center">
            <img src="{% static 'img/111.png' %}" class="rounded mx-auto d-block mb-4" alt="...">
            <h5>تضمین اصالت کالا</h5>
            <p class="blog-text">اینجا فقط جنس اصل میفروشیم</p>
          </div>
          <div class="col text-center">
            <img src="{% static 'img/222.png' %}" class="rounded mx-auto d-block mb-4" alt="...">
            <h5>ارسال به سراسر ایران</h5>
            <p class="blog-text">ارسال در سریع ترین زمان ممکن</p>
          </div>
          <div class="col text-center">
            <img src="{% static 'img/333.png' %}" class="rounded mx-auto d-block mb-4" alt="...">
            <h5>قیمت مناسب</h5>
            <p class="blog-text">میتونید مقایسه کنید!</p>
          </div>
          <div class="col text-center">
            <img src="{% static 'img/444.png' %}" class="rounded mx-auto d-block mb-4" alt="...">
            <h5>مشاوره تخصصی</h5>
            <p class="blog-text">در هرکجا و هر زمان که هستید</p>
          </div>
        </div>
      </div>
                      
      <!-- خط جداکننده  -->
      <div class="container">
        <div class="row justify-content-around">
          <div class="col custom-line-1"></div>
        </div>
      </div>
  
  
      <!-- pre footer -->
      <div class="container pre-footer"  style="margin-top: 55px;">
        <div class="row prefooter">
        <div class="col-3 ps-5 align-self-center">
          <img src="{% static 'img/logo-footer.png' %}" width="71px" , height="24px" alt="">
        </div>
        
        <div class="col-3 align-self-center pre-footer-address">
          <h5>آدرس: تهران، خیابان سی تیر</h5>
          
        </div>
        <div class="col-3 align-self-center pre-footer-address">
          <h5>تماس داروخانه: 334455-021</h5>
        </div>
        <div class="col">
          
        </div>
        <div class="col-2 d-flex justify-content-center">
          <button class="align-items-center primary-dark" onclick="topFunction()" id="myBtn" title="">
            بازگشت به بالا 
            <i class="iconly-Arrow-Up-2 icli ps-2"></i>
          </button>
        </div>
        </div>
      </div>
                      
                      
      <!-- footer -->
      <footer class="container footer">
        <div class="row">
          <div class="col-2">
            <ul class="nav flex-column">
              <h6>داروخانه آنلاین</h6>
              <li class="nav-item mt-3 mb-2"><a href="#" class="nav-link p-0 footer-links">فروشگاه محصولات</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">مجله آنلاین</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">نسخه دیجیتال</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">شیوه پرداخت</a></li>
            </ul>
          </div>
    
          <div class="col-2">
            <ul class="nav flex-column">
              <h6>خدمات مشتریان</h6>
              <li class="nav-item mt-3 mb-2"><a href="#" class="nav-link p-0 footer-links">راهنمای خرید</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">شرایط بازگشت محصول</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">سوالات متداول</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">حریم شخصی</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">گزارش مشکل</a></li>
            </ul>
          </div>
    
          <div class="col-2">
            <ul class="nav flex-column">
              <h6>داروخانه دکتر ارجمند</h6>
              <li class="nav-item mt-3 mb-2"><a href="#" class="nav-link p-0 footer-links">شرایط همکاری</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">فرصت های شغلی</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">درباره ما</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-links">ارتباط با ما</a></li>
            </ul>
          </div>
    
  
          <div class="col-6 ps-5">
            <ul class="nav flex-column">
              <h6>داروخانه دکتر ارجمند</h6><br>
              <p class="footer-about">آنلاین خود را از سال ۱۴۰۰ آغاز کرده. دارا بودن نمایندگی محصولات معتبر آرایشی و بهداشتی و ارتوپدی با مناسب ترین قیمتها از ویژگی های داروخانه داروخانه دکتر ارجمند فعالیت خود را از سال ۱۳۹۰ در خیابان سی تیر تهران آغاز نموده و با کسب تجربه در امور فروش لوازم بهداشتی و داروخانه ای ، مشاوره خرید محصولات آرایشی بهداشتی , ارتوپدی , تجهیزات پزشکی و مکملهای رژیمی غذایی و همچنین مشاوره دارویی ( در حین نسخه پیچی ) توسط دکتر داروساز از دیگر خدمات حضوری داروخانه  می باشد .</p>
            </ul>
          </div>
        </div>
    
        
        <div class="row justify-content-between mt-5">
          <div class="col-3 align-self-end">
            <h6 class="footer-share">با ما در شبکه های اجتماعی همراه باشید</h6>
              <ul class="nav flex-row mt-2">
              <li class="nav-item"><a href="#" class="pe-3"><img src="{% static 'img/linkedin.png' %}" alt=""></a></li>
              <li class="nav-item"><a href="#" class="pe-3"><img src="{% static 'img/twitter.png' %}" alt=""></a></li>
              <li class="nav-item"><a href="#" class="pe-0"><img src="{% static 'img/instagram.png' %}" alt=""></a></li>
            </ul>
          </div>
  
          <div class="col-5">
            <ul class="nav flex-row justify-content-end">
              <li class="nav-item"><a href="#" class="me-3"><img src="{% static 'img/enamad.png' %}" width="80px" , height="80px" alt=""></a></li>
              <li class="nav-item"><a href="#" class="me-3"><img src="{% static 'img/enamad2.png' %}" width="80px" , height="80px" alt=""></a></li>
              <li class="nav-item"><a href="#" class="me-3"><img src="{% static 'img/enamad3.png' %}" width="80px" , height="80px" alt=""></a></li>
              <li class="nav-item"><a href="#" class=""><img src="{% static 'img/enamad4.png' %}" width="80px" , height="80px" alt=""></a></li>
            </ul>
          </div>
        </div>
      </footer>
